<!DOCTYPE html>
<html>
<head>
  <title>CameraExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!DOCTYPE HTML>
<html>
  <head>
  <meta name="viewport" content="width=320; user-scalable=no" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ColorThief Demo</title>
  
  <script type="text/javascript" charset="utf-8" src="jquery-2.0.0.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="quantize.js"></script>
  <script type="text/javascript" charset="utf-8" src="color-thief.js"></script>
        
  <style>
  #yourimage {
    width:100%; 
  }
  
  #swatches {
    width: 100%;
    height: 50px; 
  }
  .swatch {
    width:18%;
    height: 50px;
    border-style:solid;
    border-width:thin;  
    float: left;
    margin-right: 3px;  
  }
  </style>
  </head>

<body>

<%= yield %>

</body>
</html>
